h1 {
    color: red;
}
.text {
    max-width: 100px;
    background-color: blue;
    color: white;
    margin-bottom: 100px;
}
p>span {
    color: red;
}
.bgc_green {
    background-color: green;
    color: white;
    padding-left: 5px;
}
.bgc_green_two {
    background-color: green;
    color: white;
    padding: 35px 0px 35px 35px;
}
ul>li {
    border: solid 1px;
    font-size: 25px;
}
